body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top right, rgb(129, 190, 226), rgb(209, 223, 161) 50%, rgb(241, 217, 170));
}
.container {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upper {
    background: linear-gradient(to bottom left, rgb(129, 190, 226), rgb(198, 248, 246) 50%, rgb(241, 217, 170));
    border: white solid 2px;
    border-radius: 10px;
    margin-top: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lin {
    font-weight: bold;
    background-color: beige;
    padding: 0.25%;
    border-radius: 25vh;
}
.lin span {
    color: gray;
}
.location-desc {
    background-color: azure;
}
.imgg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgg img {
    height: auto;
    width: 25%;
}
.temp-img {
    height: auto;
    width: 25%;
    font-size: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.weather-main {
    background-color: antiquewhite;
    position: relative;
    left: 50%;
    margin-bottom: 2%;
    font-size: x-large;
    font-weight: bold;
    color: grey;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-radius: 50vh;
    width: fit-content;
    height: auto;
}
.general-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.general-weather i {
    height: 2%;
}
.general-pressure img {
    height: 2%;
    width: 2%;
}
.lower {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card i {
    display: flex;
    justify-content: start;
}
.card {
    padding: 5%;
    margin: 10%;
    background: linear-gradient(to bottom left, rgb(129, 190, 226), rgb(213, 252, 247) 50%, rgb(241, 217, 170));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 1vh;
    min-width: 7vw;
}
@media (max-width: 600px) {
    .lower {
        flex-direction: column;
        min-width: 60vw;
    }
}
.lin {
    cursor: pointer;
}
.lin :hover{
    font-weight: bold;
    background-color: burlywood;
}